.header {
    background-color: $black2_clr;   
    &__nav {
        display: flex;
        justify-content: space-between;
        flex-direction: row;        
        align-items: center;
        color: $white_clr;
        font-size: 1.5em;
        margin: 0 2rem;
        &--logo {
            width: auto;
            height: auto;
            img {
                width: 100%;
                height: 8vh;
                object-fit: cover;
            }
        }
        li {
            cursor: pointer;
        }
    }
}
.main {
   display: grid;
   grid-template-columns: 100px 1fr 30rem;
   gap : 2rem;
   justify-items: normal;
   height: 100%;
}

.vertical-nav {
    background-color: $black2_clr;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100px;
    min-height: $min-heigh;
    &__item {        
        width: 3rem;      
        margin: .5em;
        border-radius: 5px;           
        text-align: center;  
        background-color: $white_clr;
        &--icon {
            color: $red4_clr;
            font-size: 2.5rem;
            margin: auto;
            cursor: pointer;          
        }
    }
    &__item:nth-child(4){
        margin-bottom: 10rem;
    }
    &__item:nth-child(5){
        width: inherit;
        height: inherit;
        color: $white_clr;
        background-color: inherit;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        line-height: 5rem; 
        margin-bottom: 2rem;       
    }
}
.middle-section {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 0 0 $margin-bottom;  
}

.name-ctner {   
    margin-top: 1rem;
    &__name {
        font-size: 2.5rem;
        &--name {
            color: $red4_clr;
        }
    } 
    &__text {
        font-size: 1.5rem;
    }       
}

.container-barchart {   
    background-color: $gray2_clr;  
    border-radius: 5px;
    margin: 1rem 0;
    padding: .5rem;


    .barchartlegend {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;        
        font-size: 1.1em ; 
        &__item1 {
            color: $black4_clr;
            font-size: 1.5rem;
            font-weight:bold;
            flex-grow: 1;
        }
        &__item2 {
            margin: 0  1.1rem;
            color: $gray3_clr;
            &--dot {
               color: $black3_clr; 
            }
        }
        &__item3 {
            margin: 0  1.1rem;
            color: $gray3_clr;
            &--dot {
                color: $red1_clr; 
            }
        } 
    }
   
}

.cards-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}


.custom-barchart-tooltip {
    background-color:$red1_clr;
    width: 100%;
    height: 60px;
    color: $white_clr;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
  
}

.line-chart {
    background-color: $red2_clr;
   
    border-radius: 5px;
    &__title {
        color: rgba($white_clr, .7) ;
        font-size: 1.1em;
        margin: 1em 1em 0;
        word-wrap: break-word;
    }
    &__tooltip {
        width: 100%;
        height: 2rem;
        background-color: $white_clr;
        padding: 0.5em;
        font-weight: bold;

    }
}

.radar-chart {
    background-color: rgb(40, 45, 48);      
    border-radius: 5px;
    margin: 0 1rem;
}
.pie-chart {
    background-color: $gray2_clr;
    position: relative;
   
    border-radius: 5px;
    &__legend {
      color:$black3_clr ;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      font-size: 1.2em;
      position: absolute;
      left: 41%;
      top:  5em;
      &--percent{
        font-weight: bold;
        font-size: 1.7rem;
      }
      &--text{
        color: $gray4_clr;
        font-size: 1em;
      }
    }
    &__score{
       position: absolute;
       left: 2vw;
       top: 2vh;
       font-weight: bold;
       color: $black4_clr;
    }
}

.ctn-cards-infos {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end; 
    margin-right: 6rem; 
    margin-bottom: $margin-bottom; 
}

.card-infos {
    width: 100%; 
    height: 15vh;
    margin: 2rem 3rem 0 0;

    background-color: $gray2_clr;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    border-radius: 6px;
    &__icon {
        grid-row-start: 1;
        grid-row-end: 3;
        padding: 1.5em;
        border-radius: 6px;
        font-size: 1.2rem;                
    }
   
    &__count {
        color: $black3_clr;
        font-weight: bold;
        justify-self: baseline ;
        align-self: end;
    }
    &__name {
        color: $gray4_clr;
        justify-self: baseline ;
        align-self: baseline;
    }
    .calorie-bgcolor {
        background-color: rgba($red2_clr, .1) ;
    }
    .protein-bgcolor {
        background-color: rgba($blue_clr, .1) ;
    }
    .carbohydrate-bgcolor {
        background-color: rgba($yellow_clr, .1) ;
    }
    .lipid-bgcolor {
        background-color: rgba($red3_clr, .1) ;
    }

}

