* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
#root {
    display: flex;
    flex-direction: column;   
    height: 100%;
}

$min-width: 1024px;
$min-heigh: 780px;
$white_clr:#ffffff;
$black_clr: #000000;
$black2_clr: #020203;
$black3_clr:#282d30;
$black4_clr : #20253A;
$red1_clr:#E60000;
$red2_clr:#FF0000;
$red3_clr:#FD5181;
$red4_clr:#FF0101;
$gray1_clr:#C4C4C4;
$gray2_clr:#FBFBFB;
$gray3_clr: #74798c;
$gray4_clr: #9B9EAC;
$yellow_clr :#FDCC0C;
$blue_clr :#4AB8FF;
$margin-bottom : 3rem;



body {
    margin: auto;   
    // min-height: $min-heigh;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

li{
    list-style: none;   
};
:export {
    white_clr: $white_clr;
    red1_clr: $red1_clr;
    red2_clr: $red2_clr;
    red3_clr: $red3_clr;
    black3_clr: $black3_clr;
    grey2-clr: $gray2_clr;
    blue_clr: $blue_clr;
    yellow_clr: $yellow_clr;
}
